<header class="header">
    <div class="menu" id="menu">
        <img src="img/svg/menu.svg" alt="">
    </div>
    
    <div class="logotipo">
        <a href="index.html">
            <img src="img/svg/logo.svg" alt="">
        </a>
    </div>
    <h1>
        <a href="index.html">GRAFLAB</a>
    </h1>
    <div class="back" id="btn-volver">
        <img src="img/svg/arrow_back.svg" alt="">
    </div>
</header>
<div class="sub-header">
    <ul>
        <li><a href="obras.html">Obras</a></li>
        <li><a href="expociciones.html">Expos</a></li>
        <li><a href="artistas.html">Artistas</a></li>
    </ul>
</div>

