<aside class="sidebar" id="sidebar">
    <!--
    <div class="logo">
        <h2>GRAFLAB</h2>
    </div>
    -->
    <nav>
        <a href="index.html">
            <img src="img/svg/home.svg" alt="">
            <span>Inicio</span>
        </a>
        <a href="obras.html">
            <img src="img/svg/art.svg" alt="">
            <span>Obras</span>
        </a>
        <a href="artistas.html">
            <img src="img/svg/person.svg" alt="">
            <span>Artistas</span>
        </a>
        <a href="expociciones.html">
            <img src="img/svg/expo.svg" alt="">
            <span>Expociciones</span>
        </a>
    </nav>
</aside>


